/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply text-zinc-200;
}

.directive-tool-tip {
   @apply pointer-events-none invisible absolute z-40 flex scale-0 items-center justify-center text-sm transition-transform duration-75;
}
